.home{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    transition: 1s ease;
}
body{
    transition:1s ease;
}
nav{
    width: 95%;
    height: 7%;
    margin: auto;
    background-color: #F4F7FC;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    border-radius: 44px;
    display: flex;
    justify-content: space-between;
    transition:  5s ease;
    z-index: 2;
}

.home.dark{
    background-color: #605e5e;
}



.bttn{
    color: #808080;
}

.main{
    width: 100vw;
    margin-top: 20%;
}

nav .left , nav .right{
    display: flex;
    align-items: center;
    grid-gap: 0.4rem;
}
nav .left {
    margin-left: 0.6rem;
    position: relative;
}
nav .right{
    margin-right: 0.6rem;
}
nav .left h2{
    margin-top: 0.8rem;
    color: #808080;
}
nav .left .move{
    position: relative;
}
.title{
    transition: 2s;
    display: block;
    
}
.title.hide{
   position: absolute;
   left: 2.5%;
   display: none;
}
nav .right input{
    border: none;
    background-color: #F4F7FC;
    width: 70%;
    outline: none;
    margin-top: -0.3rem;
    font-family: 'Roboto' , sans-serif;
}
.great{
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    z-index:8;
}

.great .css-i4bv87-MuiSvgIcon-root{
    width: 2rem;
    height: 2rem;
}
body{
    height: 100%;
    width: 100%;
}
.side{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: -300rem;
    z-index:4;
    transition:  2s ease-in-out;
    box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.25);
} 


.side.show{
    left: 0rem;
    transition: all 0.3s;
}


.side.show + .home{
     opacity: 0; 
}




