@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');





.addnote{
    width: 100vw;
    height: 100vh;
    transition: all 0.5s;
    background-color: #f3f3f3;
}
.addnote .bttn{
    color: black;
}
.addnote header{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #22211C;
}
.addnote header .left{
    margin-left: 0.8rem;
    width: 1.9rem;
    height: 1.9rem;
}
.addnote header .left .bttn{
    width: 100%;
    height: 100%;
}
.addnote header .left .bttn .css-i4bv87-MuiSvgIcon-root{
    width: 100%;
    height: 100%;
}
.addnote header .right{
    margin-right: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.addnote header .right .grid .bttn{
    transition:  all 10s;
}
.addnote .content{
    width: 90vw;
    min-height: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.addnote .content .input1{
    margin-top: 1.2rem;
    outline: none;
    border: none;
    font-size: 1.3rem;
    font-weight: 300;
    caret-color: black;
    letter-spacing: 0.03rem;
    color: black;
    /* font-family:"Roboto" , sans-serif; */
    background-color: inherit;
}
.addnote .content .input1::placeholder{
    color: black;
    letter-spacing: 0.05rem;
}
.addnote .content .input2{
    margin-top: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    /* font-family: 'Verdana' , sans-serif; */
    font-weight: 300;
    caret-color: black;
    color: black;
    /* font-family:"Roboto" , sans-serif; */
    background-color: inherit;
}
.addnote .content .input2::placeholder{
   color: black;
}
.addnote .down{
    display:flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 0rem;
    width: 100vw;
    height: 6vh;
    justify-content:space-between;
    align-items: center;
}
.addnote .down .left{
    margin-left: 0.6rem;
    width: 4rem;
    height: 1.9rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.4rem;
}
.addnote .down .left .color{
    width: 1.9rem;
    height: 1.9rem;
    z-index: 1;
}
.addnote .down .left .font{
    width: 1.9rem;
    height: 1.9rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addnote .down .menu{
    margin-right: 0.8rem;
    width: 1.9rem;
    height: 1.9rem;
    z-index: 1;
}
.addnote .down .color .bttn , .addnote .down .menu .bttn{
    width: 100%;
    height: 100%;
}
.addnote .down .color .bttn .css-i4bv87-MuiSvgIcon-root , .addnote .down .menu .bttn .css-i4bv87-MuiSvgIcon-root{
    width: 100%;
    height: 100%;
}
.addnote .down  .edit{
    width: 60%;
    height: 1.6rem;
    text-align: center;
    z-index: 1;
}
.addnote .down  .edit span{
    font-family: "Roboto" , sans-serif;
    font-size: 0.68rem;
    text-align: center;
}

.addnote .down .color-picker{
    width: 100vw;
    height: 35vh;
    background-color: #EFF4FA;
    position: fixed;
    bottom: 0;
    z-index: 3;
    /* transition: all 1.5s; */
    animation: transitionIn 0.5s;
}

.addnote .down .color-picker .head{
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}
.addnote .down .color-picker .head .pull{
    margin-right: 0.6rem;
    font-weight: 100;
}
.addnote .down .color-picker .head p{
    margin-left: 0.6rem;

}

.addnote .down .color-picker .colors{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85%;
}
.addnote .down .color-picker .colors .b1{
    width: 100%;
    height: 50%;
    display: flex;
    grid-gap: 1.3rem;
    justify-content: center;
    align-items: center;
}
.addnote .down .color-picker .colors .b1 .box{
    height: 47%;
    width: 15%;
    border-radius: 50%;
    border: 1.3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addnote .down .color-picker .colors .b1 .bt1{
    border: 2.5px solid #1A54B8;
}

.addnote .down .color-picker .colors .b1 .box .bttn{
    height: 90%;
    width: 90%;
    color: #1A54B8;
}

.addnote .down .color-picker .colors .b1 .box .bttn .css-i4bv87-MuiSvgIcon-root , .addnote .down .color-picker .colors .b1 .box .bique  .css-i4bv87-MuiSvgIcon-root{
    width: 100%;
    height: 100%;
}
.addnote .down .color-picker .colors .b1 .box .bique{
    height: 90%;
    width: 90%;
    color: black;
}
@keyframes transitionIn {
    from{
       opacity: 0;
       transform: translateY(200px);
    }
    to{
    opacity: 1;
    transform: translateY(0);
    }
}

.addnote .down .menu-picker.hee{
    transition: all 2s;
    animation: transitionOut 10s;
}

.addnote .down .font-list{
    width: 100vw;
    height: 35vh;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 3;
    animation: transitionIn 0.5s;
}
.addnote .down .font-list .top{
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}
.addnote .down .font-list .top p{
    margin-left: 0.6rem;
}
.addnote .down .font-list .top .pull{
    margin-right: 0.6rem;
} 

@keyframes transitionOut{
    from{
    opacity: 1;
    transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(300px);
     }
}

.addnote .down .menu-picker{
    width: 100vw;
    height: 35vh;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 3;
    animation: transitionIn 0.5s;
}


.addnote .down .menu-picker {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
.addnote .down .menu-picker .pull{
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 40px;
}
.addnote .down .menu-picker .pull .bttn{
    margin-right: 0.6rem;
}
.addnote .down .menu-picker .menus{
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    color: #222222;
}

.addnote .down .menu-picker .menus .ul{
    width: 90%;
    height: 20%;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    margin-left: 0.5rem;
}
.addnote .down .menu-picker .menus .ul:hover{
    background-color:#E0E0E0 ;
}
.addnote .down .menu-picker .menus .ul h2{
    font-family: "Roboto" , sans-serif;
    font-size: 1rem;
    margin:0rem ;
    font-weight: 200;
}
.addnote .down .menu-picker .menus .ul .bttn{
    width: 65%;
    height: 65%;
}
.addnote .down .menu-picker .menus .ul .bttn .css-i4bv87-MuiSvgIcon-root {
    width: 100%;
    height: 100%;
    font-weight: 200;
}
