@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&family=Roboto+Condensed&display=swap');

.side{
  font-family: 'Roboto Condensed' , sans-serif;
  overflow: hidden;
  height: 100%;
}
.side {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.side .upper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid #C3E7FF;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.side .upper .btttn{
    margin-left: 1rem;
}
.side .upper h1{
  font-size: 1.8rem;
  color: #283848;
  font-family: 'Roboto Condensed' , sans-serif;
  font-weight: 300;
  margin-right: 4rem;
  
}
.other{
  width: 100%;
  margin-top: 8vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.other .second{
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #C3E7FF;
}
 .other .second .ul{
  margin-top: 8%;
  margin-bottom: 8%;
   width: 95%;
   height: 60%;
   font-weight: 100;
   border-radius: 44px;
   /* display: grid;
   align-items: center;
   grid-template-columns: 15% 85%; */
   /* border-radius: 44px;
   background-color: #C3E7FF;
   color: #0D50A7; */
} 

.side  .other .second .ul .bttnn{
   margin-left: 1rem;
   width: 1.2rem;
}
.side  .other .second .ul h2{
  margin: 0;
  margin-left: 0.5rem;
  font-family: 'Roboto Condensed' , sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}

.side  .other  .third{
  width: 100%;
  height: 22%;
  border-bottom: 2px solid #C3E7FF;
}
.side  .other  .third .head{
  width: 100%;
  height: 30%;
  display:flex ;
  justify-content:space-around;
  align-items: center;
}
.side  .other  .third .head h3{
  font-weight: 100;
  font-size: 1.1rem;
}

.side  .other  .third .head .one{
  margin-left: -1rem ;
  color: #283848;
}
.side  .other  .third .head .two{
  margin-right: -1.2rem ;
  color: #283848;
}

.other .third .ul{
   width: 95%;
   height: 60%;
   display: grid;
   align-items: center;
   grid-template-columns: 15% 85%;
   border-radius: 44px;
   color: #283848;
} 

.side  .other  .bttnn{
   margin-left: 1.3rem;
   width: 1rem;
}
.side  .other .third .ul h2{
  margin: 0;
  margin-left: 0.5rem;
  font-family: 'Roboto Condensed' , sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  color: #283848;
}

.side .other .fourth {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other .fourth  .ul{
  width: 95%;
  height: 20%;
  border-radius: 44px;
} 

.other .fourth  .ul:last-child{
  width: 95%;
  height: 20%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  color: #283848;
} 
.other .fourth .ul:nth-last-child(2){
  width: 95%;
  height: 20%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  color: #283848;
}
.other .fourth .ul:nth-last-child(3){
  width: 95%;
  height: 20%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  color: #283848;
}
.other .fourth .ul:first-child{
  margin-top: 0.8rem;
  border-radius:44px;
}
.side  .other .fourth .ul .bttnn{
  margin-left: 1.3rem;
  width: 1rem;
}
.side  .other .fourth  .ul h2{
 margin: 0;
 margin-left: 0.8rem;
 font-family: 'Roboto Condensed' , sans-serif;
 font-size: 1.1rem;
 font-weight: 100;
}

.second .ul .active{
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  background-color: #C3E7FF;
  color: #0D50A7;
}
.second .ul .notactive{
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  color: #283848;
  /* background-color: #C3E7FF;
  color: #0D50A7; */
}

.fourth .ul .active{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  background-color: #C3E7FF;
  color: #0D50A7;
}
.fourth .ul .notactive{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 15% 85%;
  border-radius: 44px;
  color: #283848;
}

.ul:hover{
  background-color: #E6EEF9;
}


@media screen and (min-width : 900px) {
  .side .other .fourth {
    width: 100%;
    height: 40%;
    grid-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side .other .fourth .ul{
    grid-gap: 0.5rem;
  }
  .fourth .ul .active{
    grid-gap: 0.5rem;
  }
  .fourth .ul .notactive{
    grid-gap: 0.5rem;
  }
  .other .third .ul{
    grid-gap: 0.5rem;
  }
  .other .second .ul .active{
    grid-gap: 0.5rem;
  }
  .other .second .ul .notactive{
    grid-gap: 0.5rem;
  }
}